body{
  background-image: url("https://cdn.pixabay.com/photo/2017/02/18/09/04/sky-2076868_1280.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Handlee', cursive;
}

.listbtn {
  background-color: Red;
  color: #ffffff;
  height: 50px;
  width: 100px;

}

.row{
 /* margin-left:125px; */
 /* margin-right:auto; */
  text-align: center;
}

p{
  font-size:2em;
  color: black;
}
h1{
  text-align:center;
}

h5{ 
  font-size:2em;
}
h4{
  text-align:left;
  font-weight:bold;
}
h6{
  font-size:1em;
} 

/*placeholder*/
#city {
  height: 50px;
  width: 50%;
  margin-top: 10px;
  font-size: 2.4em;
  background-color: red;
  margin-left: 15px;
  
}

/* actual list once entered */
#listcity {
  width: 25%;
  margin-left: 15px;
  
}

.card-body{
  background-color: none;
  border: none;
  color:black;
  text-align:center;
}

.card-body:hover{
  background-color:whitesmoke;
  
}

#forecast{
  background-color: none;
  text-align: center;
  margin-left:125px; 
}



img{
  width: 50px;
  height: 50px;
}

.cards{
  margin-top:50px;
  width: auto;
  margin: 50px;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



/*couldnt get it to work*/
/* #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red !important;
  color: white;
  text-align: center !important;
} */