body{
    background-color: rgb(147, 152, 218);
}
header{
    background-color:rgb(55, 10, 134);
    text-align: center;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    color: fff;

}
h2{
    border-style:none;
    margin: 10px;
    text-align: center;
    font-size: 2.5em;

}   
.bar{
   border-color: red;
   margin:10px;
   width: 95%;

}

.namecity{
    border:none;
    margin: 10px;
    text-align: center;
    border-color: red;
    font-size: 2.5em;
}
li{
    font-size: 2em;
}
.list-group-item{
    color: white;
    font-size: 2.0em;
    background-color:black;
    

}

a:hover {
    background-color: rgb(201, 7, 7);
  }