*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: rgb(147, 152, 218);
}
header{
    background-color:rgb(55, 10, 134);
    text-align: center;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    color: fff;

}

input {
    height: 50px;
    width: 50%;
    padding: 6px;
    margin-top: 10px;
    font-size: 2.4em;
    border: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    width: 100%;
  }
  
  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #c74be6;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    width: 100%;
    text-align: center;
  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
    width: 25%;
    padding: 25PX;
  }
  
  li button {
    /* float: right; */
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #e08c15;
    color: white;
    font-size: 1em;
    margin-bottom: 25%;
    
  }
  
  /* li button:hover {
    background-color: #febc5d;
  } */
  
  .todos{
    width: 800px;
    margin-left: 50px;
    /* margin-top: 40px; */
    width: 50%; 
    /* padding-left: 25px; */
  }
  
  #todo-form {
    width: 300%; 
  }
h2{
    border-style:none;
    margin: 10px;
    text-align: center;
    font-size: 2.5em;

}   
.bar{
   border-color: red;
   margin-left:50px;
   width: 95%;
   padding: 15px;

}

.namecity{
    border:none;
    margin: 10px;
    text-align: center;
    border-color: red;
    font-size: 2.5em;
}
li{
    font-size: 2em;
}
.list-group-item{
    color: white;
    font-size: 2.0em;
    background-color:black;
    margin-left: 50px;
    width: 95%;
}

a:hover {
    background-color: rgb(201, 7, 7);
}

.info{
margin-left: 70px;
}


/* .weather-container {
    background: #ccc;
    text-align: center;
}

/* .weather{
    font-size: 22px;
    margin: 0;
} 

.temp{
    font-size: 60px;
    margin: 0;
    font-weight: bold;
} */
