*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-color: lightblue;
}
.header{
    border-style: double;
    border-color: black;
    text-align: center;
    padding:35px;
    margin: 35PX;
    border-radius: 25px;
    background-color:#1db5e4;
    opacity:0.5;
    color: #fff;
}

input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    font-size: 2.4em;
    border: none;
  }


  ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    width: 100%;
  }

  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: yellow;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    width: 100%;
    text-align: center;

  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
    width: 25%;
    padding: 25PX;
  }
  
  li button {
    float: right; 
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #e08c15;
    color: white;
    font-size: 1em;
    margin-bottom: 25%;
    
  }

.placeholder{
    width: 100%;
}
.weather-container{
    border-style: double;
    border-color: black;
    /* text-align: center;  */
}

/* Float four columns side by side */
.column {
    float:center; 
    width: 25%;
    padding:50px;
    
  }
  
  .card-city{
    /* box-shadow: 0 4px 8px 0 rgba(5, 101, 226, 0.63); 
    text-align: left;
    background-color: white;
    width: 100%; */


    
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      
    }
  }
  
  
  .container1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    background-color:yellow; 
    border-radius:20px;
    margin-right: 60px;
    padding:35px;
    padding-bottom: 75px;
    margin: 35px;
    width: 100%;

  }

  .container2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    background-color:red; 
    border-radius:20px;
    margin-right: 60px;
    padding:35px;
    padding-bottom: 75px;
    margin: 35px;
    width: 100%;
  }


  img{
    width: 50px;
    height: 50px;
  }
  
 