#right{
  background-color:red;
  opacity: .8;
  padding-top: 10px;
  margin-top: 35px;
  border-radius: 30px;
  color: whites;
  
}

body{
  background-image: url("https://cdn.pixabay.com/photo/2017/02/18/09/04/sky-2076868_1280.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.header{
  border-style: none;
  border-color: none;
  text-align: center;
  padding:35px;
  margin: 35PX;
  border-radius: 25px;
  background-color:#00a2ff;
  opacity:0.7;
  color: black;
  box-shadow: 5px 10px red;
  

}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
  border-radius:20px;
}


ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
  width: 100%;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: yellow;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  width: 100%;
  text-align: center;

}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
  width: 25%;
  padding: 25PX;
}

li button {
  float: right; 
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #e08c15;
  color: white;
  font-size: 1em;
  margin-bottom: 25%;
  
}

.placeholder{
  width: 100%;
  
}

img{
  width: 50px;
  height: 50px;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row2 {margin: 0 -5px;}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card1{
  box-shadow: 5px 10px red;
  padding: 16px;
  text-align: center;
  background-color:#00a2ff;
  border-radius:20px;
  opacity: 0.7;
  font-style: italic;
  font-weight: 800;
  color: white;

}

.cards{
  margin-top:50px;
  /* border-style: solid;
  border-color: red; */
  width: auto;
  margin: 50px;
  

}

